@import 'bootstrap';

body {
  background: url("../../img/background_profile_top.png") top center no-repeat;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif;
  padding-bottom: 100px !important;
}

.admin-header {
  height: 195px;
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  left: 0;
  padding: 10px 0px;
  position: fixed;
  right: 0;
  z-index: 50;

  .contact-details {
    font-size: 16px;

    .text-muted {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.navbar-inverse {
  background-color: transparent;
  border: 0 none;
  margin-bottom: 130px;

  .navbar-nav {
    > li {
      > a {
        color: rgb(195, 21, 19);

        &:hover {
          color: rgb(195, 21, 19);
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-brand {
    color: #fff;
  }
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.about-app {
  margin-top: 80px;

  p {
    line-height: 26px;
  }

  .emphasis {
    font-weight: bold;
    font-style: italic;
  }
}

.modal-trigger:hover {
  cursor: pointer;
}

.home h1 {
  font-family: Helvetica, Arial, sans-serif;
}

#submission-form {
  .nav-tabs {
    &.submission {
      background-color: transparent;
      border-bottom: 0 none;
      margin-top: 81px;

      > li {
        > a {
          border: 0 none;
          border-radius: 0;
          color: rgb(154, 154, 154);
          font-weight: 400;
          margin-right: 0;
          position: relative;
        }

        &.active > a,
        a:hover {
          background-color: rgb(192, 19, 17);
          border: 0 none;
          color: rgb(255, 255, 255);

          &:after {
            bottom: 0%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(228, 228, 228, 0);
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -8px;
          }
        }
      }
    }
  }

  .dropzone {
    border: 0 none;
    padding: 0;
  }

  .dz-message {
    color: #0086b3;
    font-family: Helvetica Neue, Helvetica, sans-serif;
  }

  h1 {
    color: rgb(195, 21, 19);
    font-weight: 600;
    margin-top: 0;
  }

  h2 {
    color: rgb(85, 85, 85);
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
  }

  label {
    color: rgb(131, 29, 32);
  }

  .progress-bar {
    background-color: rgb(238, 188, 25);
  }

  input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(251, 142, 38);
    border: 1px solid rgb(192, 19, 17);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
  }

  a.btn-apra,
  .btn-apra {
    background-color: rgb(251, 142, 38);
    border: 1px solid rgb(192, 19, 17);
    color: rgb(255, 255, 255);
  }

  dd {
    margin-bottom: 20px;
  }

  .form-group.required .control-label:after {
    color: #d00;
    content: '*';
    font-weight: bold;
    margin-left: 5px;
  }

  .media-preview {
    .clearfix();
    margin: 20px 0;

    .jwplayer {
      margin: 0 auto;
    }
  }

  .nav.nav-tabs.apra-tabs {
    > li {
      &.active {
        > a {
          color: rgb(154, 154, 154);
        }
      }

      > a {
        color: rgb(192, 19, 17);
      }
    }
  }
}

.help-block {
  color: #333;
}

.input_range_container {
  h3 {
    margin: 10px 0 20px;
    text-align: center;
  }

  .rangeslider__fill {
    background: rgb(255, 195, 20);
  }

  output {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}
